<?php

require __DIR__ . DIRECTORY_SEPARATOR . 'CfgProject.php';

/**
 * Secret project configuration.
 */
class CfgSecret extends CfgProject
{
    //public const DB_HOSTNAME = 'localhost';
    //public const DB_PORT = null;
    public const DB_USERNAME = 'XXX';
    public const DB_PASSWORD = 'XXX';
    public const DB_BASENAME = 'XXX';
    public const DB_TBL_PREFIX = 'XXX_';

	public const RSA_PRIVATE_KEY = '-----BEGIN RSA PRIVATE KEY-----
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
...
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
-----END RSA PRIVATE KEY-----';

	public const RSA_PUBLIC_KEY = '-----BEGIN PUBLIC KEY-----
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
...
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXX
-----END PUBLIC KEY-----';
}
